[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Double Stopper
Comment=Launch DoubleStopper
Exec=/home/pi/Documents/escapetools/doublecountdown/start.sh
Icon=/home/pi/Documents/escapetools/doublecountdown/icon.png
Terminal=true
Name[en_US]=double_stopper
