@font-face {
    font-family: digital7;
    src: url("fonts/digital-7 (italic).ttf");
}

body{
    font-family: digital7;
    background-color: black;
    color: yellow;
    letter-spacing: 3px;
}
table{
    margin-top:50px;
}
li{
    margin: 5px;
    cursor: pointer;
}

#client, #translations{
    display: none;
}

.digit{
    font-size: 220px;
    text-align: right;
    width: 15%;
    text-shadow: 0px 0px 20px rgba(255, 255, 0, 1);
}
.colon{
    font-size: 220px;
    text-align: center;
    width: 5%;
    text-shadow: 0px 0px 20px rgba(255, 255, 0, 1);
}
.hint{
    font-size: 80px;
    padding-top: 40px;
    text-align: right;
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 1);
}

#version{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
