@font-face {
    font-family: digital7;
    src: url("../fonts/digital-7 (italic).ttf");
}

body{
    font-family: digital7;
    background-color: black;
    color: yellow;
    letter-spacing: 3px;
    font-size: 4vh;
}
h1{
    text-align: center;
}
table{
    margin-top:10vh;
}


.ply_message{
    min-height: 10vh;
    font-size: 10vh;
    text-align: center;
}

.digit{
    font-size: 22vw;
    text-align: right;
    width: 15%;
    height: 22vw;
}

.colon{
    font-size: 22vw;
    text-align: center;
    width: 5%;
    height: 22vw;
}
.hint{
    padding-top: 5vh;
    text-align: right;
    font-size: 10vh;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.pointer{
    cursor: pointer;
}

p{
    min-height: 8vh;
    font-size: 5vh;
    margin: 0px;
}

.text-green{
    color: #0f0;
}

.text-red{
    color: red;
}

#redtime, #greentime{
    font-size: 10vh;
    min-height: 10vh;
}

.btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
}

.bg_yellow{
    background-color: yellow;
    color: black;
}

.bg_green{
    background-color: #0F0;
    color: #000;
}

.bg_red{
    background-color: #F00;
    color: #FFF;
}