//-Created By Istvan
doctype
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    script(src='/functions.js')
  body
    h1= title
    table(width='80%',align='center')
      tr
        td(id='redmessage') -
        td(id='greenmessage') -
      tr
        td(id='redtime') -
        td(id='greentime') -
      tr
        td(id='redhint') -
        td(id='greenhint') -
    //- p= chooseone
    //- ul
    //-   li(onclick='toggleFullscreen()')= fullscreen
    //-   li(onclick="changelang('en')")= toeng
    //-   li(onclick="changelang('hu')")= tohun
    //-   li(onclick='changeclient(1)')= toplayer1
    //-   li(onclick='changeclient(2)')= toplayer2
    //-   li(onclick='hint(1)')= givehint1
    //-   li(onclick='hint(2)')= givehint2
    //-   li(onclick='stop(1)')= stop1
    //-   li(onclick='stop(2)')= stop2
    //-   li(onclick='inic()')= inicgame
    //-   li(onclick='start()')= startgame
    //-   li(onclick='pause()')= pausegame
    //-   li(onclick='inconemin()') Novel 1 perccel
    //-   li(onclick='deconemin()') Csokkent 1 perccel
    //-   li(onclick='getmyip()') IP cimem
    p(id='message')
    p(id='version')= version
      span= versionnr
    script startControl();
    

