//-Created By Istvan
doctype
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    script(src='/functions.js')
  body
    h1= title
    table(width='80%',align='center')
      tr
        td(id='redmessage',width='45%') -
        td(width='10%',rowspan='4',align='center')
          button(onclick='inicGame()', class='btn bg_yellow') Inic
          button(onclick='startGame()', class='btn bg_yellow') Start
          button(onclick='pauseGame()', class='btn bg_yellow') Pause
          button(onclick='incMinGame()', class='btn bg_yellow') +1 perc
          button(onclick='decMinGame()', class='btn bg_yellow') -1 perc
          button(onclick='setHunGame()', class='btn bg_yellow') Magyar
          button(onclick='setEngGame()', class='btn bg_yellow') Angol
          button(onclick='getmyip()', class='btn bg_yellow') Get Server IP
        td(id='greenmessage',width='45%') -
      tr
        td(id='redtime') -
        td(id='greentime') -
      tr
        td(id='redhint') -
        td(id='greenhint') -
      tr
        td(align='center')
          button(onclick='inic(1)', class='btn bg_red') Inic
          button(onclick='startPlayer(1)', class='btn bg_red') Start
          button(onclick='pausePlayer(1)', class='btn bg_red') Pause
          button(onclick='incMin(1)', class='btn bg_red') +1 perc
          button(onclick='decMin(1)', class='btn bg_red') -1 perc
          button(onclick='incHint(1)', class='btn bg_red') Segitseg +
          button(onclick='decHint(1)', class='btn bg_red') Segitseg -
          button(onclick='won(1)', class='btn bg_red') Nyert
          button(onclick='setHun(1)', class='btn bg_red') Magyar
          button(onclick='setEng(1)', class='btn bg_red') Angol  
        td(align='center')
          button(onclick='inic(0)', class='btn bg_green') Inic
          button(onclick='startPlayer(0)', class='btn bg_green') Start
          button(onclick='pausePlayer(0)', class='btn bg_green') Pause
          button(onclick='incMin(0)', class='btn bg_green') +1 perc
          button(onclick='decMin(0)', class='btn bg_green') -1 perc
          button(onclick='incHint(0)', class='btn bg_green') Segitseg +
          button(onclick='decHint(0)', class='btn bg_green') Segitseg -
          button(onclick='won(0)', class='btn bg_green') Nyert
          button(onclick='setHun(0)', class='btn bg_green') Magyar
          button(onclick='setEng(0)', class='btn bg_green') Angol
    //- p= chooseone
    //- ul
    //-   li(onclick='toggleFullscreen()')= fullscreen
    //-   li(onclick="changelang('en')")= toeng
    //-   li(onclick="changelang('hu')")= tohun
    //-   li(onclick='changeclient(1)')= toplayer1
    //-   li(onclick='changeclient(2)')= toplayer2
    //-   li(onclick='hint(1)')= givehint1
    //-   li(onclick='hint(2)')= givehint2
    //-   li(onclick='stop(1)')= stop1
    //-   li(onclick='stop(2)')= stop2
    //-   li(onclick='inic()')= inicgame
    //-   li(onclick='start()')= startgame
    //-   li(onclick='pause()')= pausegame
    //-   li(onclick='inconemin()') Novel 1 perccel
    //-   li(onclick='deconemin()') Csokkent 1 perccel
    //-   li(onclick='getmyip()') IP cimem
    p(id='message')
    p(id='version')= version
      span= versionnr
    script startControl();
    

