//-Created By Istvan
doctype
html
  head
    title Timer
    link(rel='stylesheet', href='/style.css')
    script(src='/functions.js')
  body
    table(width='80%', align='center')
      tr
        td(colspan=8, id='message', class='hint') -
      tr
        td(id='d5', class='digit') -
        td(id='d4', class='digit') -
        td(id='c1', class='colon') -
        td(id='d3', class='digit') -
        td(id='d2', class='digit') -
        td(id='c0', class='colon') -
        td(id='d1', class='digit') -
        td(id='d0', class='digit') -
      tr
        td(colspan=6, class='hint', id='hinttext') -
        td(class='hint', id='hints') -
        td
      tr
        td(colspan=6, class='hint', id='opphinttext') -
        td(class='hint', id='opphints') -
        td
    div(id='inic')
      button(onclick='startClient(0)', class='btn bg_green') Zold vagyok
      button(onclick='startClient(1)', class='btn bg_red') Piros vagyok
